.button {
	box-sizing: border-box;
	padding: 5px 16px;
	margin: 0;
	border: 2px solid;
	border-radius: 4px;
	text-decoration: none;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background 130ms, color 130ms;
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--bg-color);
	border-color: var(--border-color);
	font-size: 14px;
	line-height: 22px;

	&:hover {
		opacity: 0.8;
	}
}
