.text-field {
	position: relative;
	width: 300px;
	height: 42px;
	display: inline-flex;
	border: 1px solid;
	border-color: var(--bg-color);
	padding-left: 10px;
	border-radius: 5px;
	color: var(--text-color);
	font-size: 16px;

	&__error {
		border: 1px solid var(--error);
	}

	&__error-message {
		color: var(--error);
	}

	&::placeholder {
		color: var(--text-color);
	}
}
