* {
	margin: 0;
	padding: 0;
}

:root[data-theme="light"] {
	--primary: #643FFF;
	--secondary: rgb(206, 205, 222);
}

:root[data-theme="dark"] {
	--primary: rgb(206, 205, 222);
	--secondary: #643FFF;
}
