@import "src/app/styles/mixins";
@import "src/app/styles/vars";

@mixin autocompleteColor($component, $colors) {
	@each $color in $colors {
		.#{$component}-#{"" + $color} {
			width: 500px;
			position: relative;

			&__container {
				@include inlineFlexBetween;
				border: 1px solid blue;
				gap: 5px;
				width: 100%;
				padding-left: 5px;
				height: 42px;
				box-sizing: border-box;
				border-radius: 5px;

				&__input {
					flex: 1;
					border: none;
					outline: none;
				}
			}

			&__list {
				position: absolute;
				top: 50px;
				right: 0;
				left: 0;
				width: 100%;
				margin: 0 auto;
				background-color: #fff;
				border-radius: 4px;
				max-height: 0;
				overflow: scroll;
				transition: max-height 200ms ease;
				z-index: 200;

				&__active {
					max-height: 500px;
					opacity: 1;
					transition: max-height 400ms ease;
					border: 1px solid lightgray;
				}

				.list-row {
					cursor: pointer;
					padding: 10px;
					position: relative;
					border-top: 1px solid toRgba(blue, 0.5);

					&:first-child {
						border-top: none;
					}

					&:hover {
						background: toRgba(blue, 0.1);
					}

					&__disabled {
						cursor: auto;
						&:hover {
							background: none;
						}
					}
				}
			}
		}
	}
}

@include autocompleteColor('autocomplete', $colors);
